* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    margin: 0px;
    font-family: sans-serif;
}

.main {
    max-width: 900px;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo {
    float: left;
}

nav {
    width: 100%;
    margin: 0px;
    position: fixed;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    z-index: 5;
    overflow: hidden;
}



ul {
    list-style-type: none;
    margin: 15px 20px 15px 20px;
    padding: 0;
}

li {
    float: right;
    
}

    li a {
        display: block;
        color: #FFFFFF;
        text-align: center;
        padding: 12px 30px 12px 30px;
        text-decoration: none;
        text-transform: uppercase;

    }

        li a:hover {
            background-color: none;
            opacity: 1;
        }


    .logo:hover {
        transform: scale(1.5);
    }

.line:hover {
    text-decoration: underline #FFFFFF;
}

.border {
    border-style: solid;
    border-color: #FFFFFF;
}
    .border:hover {
        border-color: #ec008c;
        text-decoration: none;
        color: #ec008c;
    }

.stripe {
    position: inherit;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

    .stripe:hover {
        background-color: rgba(1, 1, 1, .5);
    }

.topnav {
    overflow: hidden;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: left;
        display: none;
        text-align: center;
        text-decoration: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

        .topnav li.logo {
            display: none;
        }

        .topnav .border {
            display: none;
        }

        .topnav li.line:hover {
            display: none;
        }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
    }

        .topnav.responsive .icon {
            position: fixed;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

@media screen and (max-width: 800px) {

    nav {
        position: fixed;
    }
}





    .page-container {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .section {
        margin: 0;
        min-height: 100vh;
        height: auto;
    }

    .home {
        height: 100%;
        width: 100%;
        margin: 0;
        background: url('../images/background-50%.jpg') no-repeat center center scroll;
        background-size: cover;
        max-width:100%;
    }



    .about {
        width: 100%;
        height: 100%;
        background-color: #ffee22;
        text-align: center;
    }

    .info {
        background-color: rgb(250, 250, 250);
        margin: 2% auto;
        border-radius: 4px;
        width: 50%;
        max-width: 900px;
        padding: 5% 5%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        
    }

        .info p {
            line-height: 32px;
        }

    .hours {
        text-align: center;
        width: 100%;
        height:100%;
        background: url('../images/donuts-2969490.jpg') no-repeat center center scroll;
        background-size: cover;
    }

    article {
        float: left;
        background-color: rgb(250, 250, 250);
        margin: 3% 10%;
        border-radius: 4px;
        width: 40%;
        max-width: 900px;
        padding: 2% 2%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .menu {
        text-align: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .blue {
        background-color: #00aeef;
        list-style-type: none;
        margin: 0;
        padding-top: 5%;
        padding-bottom: 3%;
        overflow: hidden;
        background-size: cover;
    }

    .box {
        text-align: center;
        background-color: rgb(250, 250, 250);
        margin: 0% auto;
        border-radius: 4px;
        width: 30%;
        padding: 5% 10%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }


    .card {
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 4px;
    }

        .card img {
            filter: drop-shadow(5px 5px 5px #333);
        }

            .card img:hover {
                transform: scale(1.3);
            }


    .container {
        padding: 2px 16px;
    }

    .row {
        margin: 8px -16px;
    }

        /* Add padding BETWEEN each column */
        .row,
        .row > .column {
            padding: 4px;
        }

    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
    }

    /* Clear floats after rows */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 900px) {
        .column {
            width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }


    .contact {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0px 0px 0px 0px;
        background-color: #ec008c;
    }

    .box2 {
        text-align: center;
        background-color: rgb(250, 250, 250);
        margin: 5% auto;
        border-radius: 4px;
        width: 40%;
        padding: 3% 10%;
        margin-top: 13%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .left {
        width: 40%;
        float: left;
    }

        .left img {
            width: 100%;
            height: 100vh;
        }

    .right {
        float: right;
        width: 60%;
        background-color: #ec008c;
        background-size: cover;
    }

    .fa {
        padding: 20px;
        font-size: 40px;
        width: 40px;
        text-align: center;
    }

        .fa:hover {
            opacity: 0.7;
        }

    .fa-twitter {
        text-decoration: none;
        color: white;
    }

    .fa-facebook {
        text-decoration: none;
        color: white;
    }

    .fa-instagram {
        text-decoration: none;
        color: white;
    }

    aside {
        text-align: center;
    }


    input[type=text], select, textarea {
        width: 60%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    input[type=email], select, textarea {
        width: 60%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }




    .center {
        text-align: center;
    }

    .parent {
        position: relative;
        text-align: center;
        top: 0;
        left: 0;
    }

    #letters {
        position: relative;
        top: 0;
        left: 0;
        max-width: 70%;
    }

#donut {
    position: absolute;
    max-width: 50%;
    height: auto;
    top: 25%;
    left: 31%;
    -webkit-animation: upAndDown 4s infinite linear;
    filter: drop-shadow(0 0 10px white);
}


    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    #donut {
        width: 25%;
        top: 38%;
        left: 26%;
    }
    .info {
        width: 90%;
        margin: 2% auto;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 2% 2%;
    }


    article {
        width: 90%;
        float: none;
        margin: 2% auto;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 2% 2%;
    }

    .section {
        margin: 0;
        min-height: 50vh;
        height: auto;
    }


    .home {
        height: 60vh;
    }

    .about {
       padding-top: 3%;
       padding-bottom: 3%;
    }

    .hours {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .contact {
        padding-top: 1%;
    }

    .left {
        display: none;
    }

    .left img{
        display: none;
    }

    .right {
        width: 100%;
        float: none;
    }




}

@media screen and (max-width: 600px) {
    .info h1 {
        font-size: 24px;
    }
    .info p {
        font-size: 12px;
    }

    .about {
        padding-top: 2%;
    }

    article p {
        font-size: 12px;
    }

    .box {
        padding: 0;
    }

    .box2 {
        padding: 0;
    }


}


    @-webkit-keyframes upAndDown {
        0% {
            transform: translate(50%, 50%) rotate(0deg);
        }

        50% {
            transform: translate(50%, 20%) rotate(179.5deg);
        }

        100% {
            transform: translate(50%,50%) rotate(359deg);
        }
    }

    h1 {
        font-family: 'Bauhaus 93';
        color: #ec008c;
        font-size: 36px;
    }

    h2 {
        font-family: 'Bauhaus 93';
        color: #ec008c;
    }


    footer {
        clear: both;
        font-size: .8em;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        opacity: 0.6;
    }
